

#container{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
    font-family: 'Source Sans Pro', sans-serif;
}

#cadastro{
    display: flex;
    flex-direction: column;
    width: 400px;
    min-width: 300px;
    max-width: 500px;
    border: 1px solid black;
    border-radius: 6px;
    padding: 20px;
    
}

#confirm{
    margin-top: 10px;
    width: 150px;
    height: 38px;
    padding: 8px;
    border: 1px solid black;
    border-radius: 6px;
    font-size: 1em;
    align-self: center;
    transition: 0.5s;
}
#confirm:hover{
    background-color: #499be7;
    transform: scale(1.3);
}

#login{
    width: 440px;
    min-width: 400px;
    max-width: 500px;
    border: 1px solid black;
    border-radius: 6px;
    margin-top: 5px;
}

p{
    text-align: center;
}

a{
    text-decoration: none;
}



#endereco{
    position: relative;
    display: grid;
    grid-template-columns: 0fr 1fr 0fr 1fr;
    vertical-align: middle;
    padding: px;
    gap: 6px;
    margin-bottom: 20px;
}

#endereco, label{
    align-items: center;
}

.enderecoInput{
    position: relative;
    margin-bottom: 0;
    align-self: center;
    border: 1px solid lightgray;
    border-radius: 6px;
    padding: 7px;
}

input:not(.enderecoInput){
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 7px;
    margin-bottom: 20px;
}

#numero{
    width: 50px;
    margin-left: 10px;
}

#lblNumero{
    margin-left: 20px;
}

h2{
    text-align: center;
}


